html, body {
    width: 100%;
    height: 100%;
    word-spacing: 8px;
    letter-spacing: 1px;
    margin: 0;
    padding: 0;
}

.iw_poi_title {
    color: #CC5522;
    font-size: 14px;
    font-weight: bold;
    overflow: hidden;
    padding-right: 13px;
    white-space: nowrap
}

.iw_poi_content {
    font: 12px arial, sans-serif;
    overflow: visible;
    padding-top: 4px;
    white-space: -moz-pre-wrap;
    word-wrap: break-word
}
a {
    text-decoration: none;
}

a:link, a:visited {
    color: #444;
    text-decoration: none;
}

a:hover {
    color: #ff0000;
}

.row {
    margin-right: 0 !important;
}

/*logo part*/
.logo_pic {
    width: 50%;
}

.cop {
    clear: both;
    /*position: fixed;*/
    /*bottom: 1%;*/
    width: 100%;
    background-color: #f8f9fa;
    text-align: center;
}

.header-phone {
    width: 25%;
}

.header-phone img {
    width: 36%;
    margin-left: 1rem;
}

.tab-img {
    margin-bottom: 2rem;
}

.row .card {
    margin-left: 1rem;
}

.row .card img {
    width: 38%;
    margin-left: 30%;
    margin-top: 1rem;
    border-radius: 1rem;
}
.row .card .card-title{
    width: 46%;
    margin-left: 28%;
    margin-top: 10%;
    /*text-align: center;*/
    border: 2px solid red;
    border-radius: 18px;
    font-size: 26px;
    font-weight: 600;
    color: red;
    /* padding: 10px; */
    letter-spacing: 10px;
    padding-left: 7%;
}
.row .card .card-body {
    text-align: center;
}

.row .card .card-body .card-text {
    font-size: 0.8rem;
}
.row .card .card-body a{
    color:#fff;
}

.common-title {
    padding: 10px;
    border-radius: 10px;
    color: white;
}

.common-title span {
    font-size: small;
}

.common-content {
    padding-bottom: 2rem;
    padding-left: 2rem;
}

#contentRgister,
#contentChange {
    margin-top: 1.5rem;
}

/*代理记账服务*/
#account {
    /*margin-top: 1rem;*/
}

.account-text {
    background-color: #ff0000;
    color: #ffffff;
}

.content-text {
    color: #999999;
    font-size: smaller;
}

/*悬浮窗*/
#server {
    position: fixed;
    right: 1rem;
    bottom: 1rem;
}

#QQiwndow {
    background-color: #ffffff;
    width: 9rem;
    height: 11.3rem;
    font-size: 1rem;
    /*overflow: hidden;*/
    z-index: 9999;
    opacity: 0.9;
    border-radius: 1rem;
}

#QQiwndow .QQtitle {
    background-color: #038bdc;
    color: #ffffff;
    font-size: 1rem;
    padding: 4px;
}

#QQiwndow .QQtitle img {
    width: 26%;
    position: absolute;
    top: -2rem;
    left: 0.5rem;
}

.QQcontent li {
    padding-left: 1rem;
    padding-top: 0.1rem;
    list-style: none;
    height: 2rem;
    background-color: #00bfff;
    border-radius: 1rem;
    margin-bottom: 1rem;
}

.QQcontent li span img {
    width: 15%;
}

.QQcontent li .qq_text {
    font-size: 0.8rem;
}

#server #phone {
    /*width: 13rem;*/
    height: 5rem;
    position: absolute;
    left: -12.5rem;
    top: 4rem;
    background-color: #00bfff;
    padding: 1rem;
    opacity: 0.9;
    display: none;
    border-radius: 1rem;
    color: #fff;
}
#server #wechat {
    width: 7rem;
    height: 7rem;
    position: absolute;
    left: -7.5rem;
    top: 4rem;
    opacity: 0.9;
    display: none;
    border-radius: 1rem;
}
#server #wechat img{
    width: 100%;
    background-color: #dddddd;
}


